

<div class="container">
  <ul>
    <li><a href="#">Create ACH Transfers</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">History</a></li>
    <li><a href="#">Manage import file formats</a></li>
    <li><a href="#">Import Activity</a></li>
    <li><a href="#">Import File</a></li>
    <li><a href="#">Manage Template</a></li>
  </ul>
  <h1>Create an ACH Batch</h1>
  <h3>
    Please Enter in individual Name, a Valid ABA number, Account Number, Amount,
    and then select the Transaction Type Prior to clicking on the Submit batch
    button. If transaction is a prenote, please click on the prenote box and if
    thr transaction needs to be placed on Hold, please click on the Hold date
    and enter a date in the format of A hold date must be provided in the format
    of MM/DD/YYYY.
  </h3>
  <br>
  <br>
  <a href="#"> Show header Information</a>
  <img src="./icon.jpeg" alt="notepad" />
  <i class="fa fa-file-text-o" style="font-size:24px"></i>
  <div class="middle">
    <h3>Portfolio LMA Bank</h3>
    <br />
    <h3>Batch Type CCD</h3>
  </div>

  <!-- <img
  width="40"
  alt="Angular Logo"
  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
/> -->

  <div class="Transaction" >
    <h2>Transaction (Credit / Destination Account)</h2>
    <h3>
      Pre note transaction do not appear in batch total and will be transmitted
      as zero dollar amounts regardless of amount entered.
    </h3>
    <br>
    <br>
    <!-- <a href=".././submission/submission.component.html" target="_blank">Search Transactions</a> -->
    <!-- <div class="table-box">
      <table class="tb">
        <tr>
          <th class="tbitem">Company Name</th>
          <th class="tbitem">ID Number</th>
          <th class="tbitem">ABA</th>
          <th class="tbitem">Account Number</th>
          <th class="tbitem">Amount</th>
          <th class="tbitem">Transaction Type</th>
          <th class="tbitem">Pre Note</th>
          <th class="tbitem">Hold</th>
          <th class="tbitem">Hold Date</th>
        </tr>
      </table>
    </div> -->
  </div>

</div>
