
<button mat-raised-button color="warn" style="margin-right: 10px; margin-left:10px; border-radius:15px;" (click)="Submission()" >
    Continue
  </button>

<router-outlet></router-outlet>
<button class="btn1">Save for Later</button>
<router-outlet></router-outlet>
<div class="end">
  Please Enter in individual Name, a Valid ABA number, Account Number, Amount,
  and then select the Transaction Type Prior to clicking on the Submit batch
  button. If transaction is a prenote, please click on the prenote box and if
  thr transaction needs to be placed on Hold, please click on the Hold date and
  enter a date in the format of A hold date must be provided in the format of
  MM/DD/YYYY.
</div>
